.select__container {
  border: 1px solid grey;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.select__container--full {
}

.select__current {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select__current-arrow {
  width: 6px;
  height: 6px;
  border-top: 2px solid grey;
  border-right: 2px solid grey;
  transform: rotate(-45deg);
  transition: transform 400ms;
}

.select__current-arrow--up {
  transform: rotate(135deg);
}

.select__options {
  overflow: hidden;
  position: absolute;
  background: white;
  border: 1px solid grey;
  width: 72px;
  top: 26px;
  left: -1px;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.select__options--hide {
  display: none;
  height: 0;
}

.select__option {
  margin-left: 10px;
  margin-bottom: 5px;
}